<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Death Issue</title>
</head>
<body>
<h2 style="text-align: center">사망 신고서</h2>
<div style="text-align: center">
    <span th:text="'신고일' + ${dto.date}"></span><br />
</div>
<div style="text-align: center; display: flex; justify-content: center">
    <table style="text-align: center" border="1">
        <tr>
            <th>사망자성명</th>
            <th>사망자 주민등록번호</th>
            <th>사망일시</th>
            <th>사망장소(구분)</th>
            <th>사망장소(주소)</th>
        </tr>
        <tr>
            <td th:text="${dto.deathName}"></td>
            <td th:text="${dto.deathRegistration}"></td>
            <td th:text="${dto.deathDate}"></td>
            <td th:text="${dto.deathPlace}"></td>
            <td th:text="${dto.deathAddress}"></td>
        </tr>
        <tr>
            <th>신고인성명</th>
            <th>신고인 주민등록번호</th>
            <th>신고인 자격</th>
            <th>신고인 이메일</th>
            <th>신고인 번호</th>
        </tr>
        <tr>
            <td th:text="${dto.issuerName}"></td>
            <td th:text="${dto.issuerRegistration}"></td>
            <td th:text="${dto.issuerRelation}"></td>
            <td th:text="${dto.email}"></td>
            <td th:text="${dto.phoneNum}"></td>
        </tr>
    </table>
</div>
<div style="text-align: center">
    <a th:href="'/resident/view?page=0'" th:text="'주민 목록'"></a>
</div>
</body>
</html>