<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">Resident List</h2>
<div style="text-align: center; display: flex; justify-content: center">
<table style="text-align: center; border-style: solid">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Delete</th>
        <th>Family</th>
        <th>Registration</th>
        <th>Birth</th>
        <th>Death</th>
        <th>IssueList</th>
    </tr>
    <tr th:each="resident : ${lists}">
        <td th:text="${resident.sNum}"></td>
        <td th:text="${resident.name}"></td>
        <td th:text="${resident.gender}"></td>
        <form th:action="'/resident/delete?sNum=' + ${resident.sNum}" method="post">
            <td>
                <input type="submit" value="delete"></span>
            </td>
        </form>
        <td><a th:href="'/certificates/family'" th:text="View"></a></td>
        <td><a th:href="'/certificates/registration'" th:text="View"></a></td>
        <td><a th:href="'/certificates/birth'" th:text="View"></a></td>
        <td><a th:href="'/certificates/death'" th:text="View"></a></td>
        <td><a th:href="'/certificates/list'" th:text="View"></a></td>
    </tr>
</table>
</div>
<br />
<div style="text-align: center">
<a th:href="'/resident/view?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
    <span th:text="'('+ ${page} + 'page)'"></span>
<a th:href="'/resident/view?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
</div>
</body>
</html>