<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">가족 관계 증명서</h2>
<div style="text-align: center">
    <span th:text="'발급일:' + ${model.date}"></span>
    <span th:text="'증명서확인번호:' + ${model.cNum}"></span><br />
    <span th:text="'등록기준지(본적)' + ${model.address}"></span><br />
</div>
<div style="text-align: center; display: flex; justify-content: center">
<table style="text-align: center" border="1">
    <tr>
        <th>구분</th>
        <th>성명</th>
        <th>출생연월일</th>
        <th>주민등록번호</th>
        <th>성별</th>
    </tr>
    <tr th:each="family : ${list}">
        <td th:text="${family.relation}"></td>
        <td th:text="${family.name}"></td>
        <td th:text="${family.birthDate}"></td>
        <td th:text="${family.registrationNumber}"></td>
        <td th:text="${family.genderCode}"></td>
    </tr>
</table>
</div>
<div style="text-align: center">
<a style="text-align: center" th:href="'/resident/view?page=0'" th:text="'주민 목록'"></a>
</div>
</body>
</html>